.systemReport__container {
}

.systemReport__title {
  font-size: 200%;
  text-align: center;
}

.systemReport__filter {
  box-shadow: var(--main-shadow);
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  border-radius: 6px;
  margin-top: 20px;
}

.systemReport__filter label {
  font-size: 120%;
}

.systemReport__filter input {
  padding-left: 10px;
  font-size: 100%;
  height: 44px;
  margin-left: 10px;
  width: 200px;
  border-radius: 6px;
  border: none;
  box-shadow: var(--sub-shadow);
  background-color: var(--bg);
  color: var(--txt);
}

.systemReport__chart {
  width: 90%;
  margin: 0 auto;
  height: 350px;
  box-shadow: var(--main-shadow);
  margin-top: 40px;
  border-radius: 6px;
  color: var(--txt);
}

.systemReport__table {
  width: 90%;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: var(--main-shadow);
  margin-top: 30px;
  padding: 30px;
}

.systemReport__table > div {
  overflow-y: scroll;
  max-height: 300px;
}

.systemReport__table table {
  width: 100%;
}

.systemReport__table thead {
  position: sticky;
  top: 0;
  background-color: var(--txt);
  color: var(--bg);
  font-size: 130%;
  font-weight: 500;
  line-height: 40px;
}

.systemReport__table tbody {
  background-color: var(--bg);
  color: var(--txt);
  font-size: 110%;
  line-height: 40px;
}

.systemReport__printBtn {
  margin-top: 20px;
  text-align: center;
}

.not-found {
  text-align: center;
  font-size: 160%;
  font-weight: 500;
  margin-top: 50px;
}

.change-device-msg {
  visibility: hidden;
}
