* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: var(--bg);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.685);
  border-radius: 4px;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: var(--bg);
  color: var(--txt);
}

table {
  border-collapse: collapse;
}

td {
  border: none;
}

tbody td {
  border-bottom: 1px solid var(--border);
}

button {
  padding: 8px 40px;
  font-size: 130%;
  font-weight: 600;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: none;
  border-radius: 6px;
  background-color: var(--bg);
}

button:hover {
  background-color: var(--txt);
  color: var(--bg);
  cursor: pointer;
}

html[data-theme="light"] {
  --bg: white;
  --txt: black;
  --border: black;
}

html[data-theme="dark"] {
  --bg: rgb(3, 3, 56);
  --txt: rgba(255, 255, 255, 0.829);
  --border: rgba(255, 255, 255, 0.438);
}
